<div id="container">

    <div id="body">
        <div id="temporaryFormat">

            <div class="row border py-3">
                <div class="col-9">
                    Records # to # of #
                </div>
                <div class="col-3 d-flex justify-content-end flex-nowrap align-items-center">
                    <i class="fas fa-print mr-2"></i> &nbsp;<a href="javascript:;" onclick="window.print()">Print this
                        page</a>
                </div>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">VACANT</th>
                        <th scope="col">ADDRESS</th>
                        <th scope="col">CITY</th>
                        <th scope="col">BR</th>
                        <th scope="col">BA</th>
                        <th scope="col">RENT</th>
                        <th scope="col">DEP</th>
                        <th scope="col">&nbsp;</th>

                    </tr>
                </thead>
                <tbody>

                    {{#each properties}}
                    <tr>

                        <td scope="row">{{this.availability}}</td>
                        <td>{{this.address}}</td>
                        <td> {{this.city}}</td>
                        <td>{{this.bdrm}}</td>
                        <td>{{this.bath}}</td>
                        <td> {{this.rent}} </td>
                        <td> {{this.deposit}} </td>
                        <td><a href="/request"><i class="far fa-envelope-open"></i></a> <a
                                href="/property/{{this._id}}"><i class="fas fa-search"></i></a></td>
                    </tr>
                    <tr>
                        <td colspan="8">

                            <span>REMARKS:</span>
                            <p>{{this.remarks}}</p>
                        </td>
                    </tr>


                    {{/each}}

                </tbody>
            </table>

            <div class="d-flex justify-content-center">
                {{{paginateHelper pagination}}}
            </div>
        </div>
    </div>
</div>